body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

canvas#glCanvas {
    background-color: #1a1a1a;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 0px;
}

.simulation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
}

/* Main panel positions */
.gui-container-left {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 8px;
}

.gui-container-right {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.gui-container-center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);  
}

/* Stats container */
.stats-container {
    position: absolute;
    top: 0;
    right: 0;
}

/* Override some lil-gui defaults */
.lil-gui {
    --background-color: #1a1a1a;
    --text-color: #e9e9e9;
    --title-background-color: #2a2a2a;
    --title-text-color: #ffffff;
    --widget-color: #3a3a3a;
    --hover-color: #4a4a4a;
    --focus-color: #5a5a5a;
    --number-color: #ffbb00;
    --string-color: #ffbb00;
    --font-size: 10px;
    --width : 260px;
    --border-radius: 4px;
    --slider-knob-width: 4px;
    --name-width: 33%;
    --slider-input-min-width: 25px;
    --slider-input-width: 18%;
    --widget-border-radius: 0px;
    --color-input-width: 92%;
    --spacing: 5px;
    --padding:8px;
}

.lil-gui select {
    padding: 3px !important; 
    border-radius: 0px !important;
    background: #3b3b3b;
    text-align: center !important;
    font-size: 10px;
    color: white;
    scrollbar-width: thin;
    scrollbar-color: #555 #333;
} 