:root {
  --index-text-color: yellow; /* Default color for cell indices */
  /* Add other CSS-controlled color vars here if needed later */
}

/* Page Background Color */
body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

/* Canvas Element Background Color */
canvas#glCanvas {
  background-color: #000000;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px 0px;
}

canvas.emu-visualization {
  background-color: #1a1a1a;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15% !important;
}

/* Override some lil-gui defaults */
.lil-gui {
  --background-color: #2b2b2b;
  --text-color: #e9e9e9;
  --title-background-color: #393939;
  --title-text-color: #ffffff;
  --widget-color: #000000;
  --hover-color: #4a4a4a;
  --focus-color: #5a5a5a;
  --number-color: #ffbb00;
  --string-color: #ffbb00;
  --font-size: 10px;
  --width: 260px;
  --border-radius: 4px;
  --slider-knob-width: 3px;
  --name-width: 33%;
  --slider-input-min-width: 25px;
  --slider-input-width: 18%;
  --widget-border-radius: 0px;
  --color-input-width: 92%;
  --spacing: 5px;
  --padding: 8px;
  scrollbar-color: #555 #333;
}



.full-width .widget {
  width: 100% !important;
  display: block !important;
}

/* Enhance full-width to better handle dropdowns */
.full-width select {
  width: 100% !important;
  margin-right: 0 !important;
  text-align: left;
  color: #ffbb00;
  background-color: #000000;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
  padding-left: 6px;
}

/* Notification message */
.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2a2a2a;
  /* color: white; */
  padding: 10px 20px;
  border-radius: 4px;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Turbulence toggle buttons */
.turbulence-toggle-buttons {
  display: flex;
  justify-content: space-between;
  margin: 6px;
  /* width: 100%; */
}



.lil-gui .controller.option .widget, .lil-gui .controller.option select {
  color: #ffbb00 !important;
}