body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.simulation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

canvas {
    background: #111111;
    max-width: 100%;
    max-height: 100%;
}

/* GUI Container styles */
.gui-container-left {
    position: absolute;
    top: 0;
    left: 0;
}

.gui-container-right {
    position: absolute;
    top: 0;
    right: 0;
}

.gui-container-middle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Stats container */
.stats-container {
    position: absolute;
    bottom: 0;
    right: 0;
    /* width: 200px; */
}

/* .stats-innercontainer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
} */


/* Preset save dialog */
.preset-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.preset-dialog {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.preset-input {
    background: #2a2a2a;
    border: 1px solid #3a3a3a;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.preset-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.preset-buttons button {
    background: #3a3a3a;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.preset-buttons button:hover {
    background: #4a4a4a;
}

.preset-select {
    background: #333333;
    border: 1px solid #7a7a7a;
    color: white;
    border-radius: 4px;
    text-align: center;
    border-radius: 4px;
}

/* Notification message */
.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2a2a2a;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}


.turb-preset-select {
  width: 100%;
  padding: 6px;
  margin: 2px 0;
  border: 1px solid #242424;
  border-radius: 4px;
  background: #3b3b3b;
  text-align: center;
  font-size: 10px;
  color: white;
}

/* Override lil-gui colors */
.lil-gui {
    --background-color: #1a1a1a;
    --text-color: #e9e9e9;
    --title-background-color: #2a2a2a;
    --title-text-color: #ffffff;
    --widget-color: #3a3a3a;
    --hover-color: #4a4a4a;
    --focus-color: #5a5a5a;
    --number-color: #ffc21a;
    --string-color: #1bd1f1;
}